# ── Adresses ─────────────────────────────────────────────────────
PORT_BACKEND=8086
BACKEND_URL=http://localhost:8086
PORT_FRONTEND=4204
FRONTEND_URL=http://localhost:4204

# ── Base de données ──────────────────────────────────────────────
DB_HOST=postgres
DB_PORT=5432
DB_NAME=devdb
DB_SCHEMA=analyse_lora
DB_USER=devuser
DB_PASSWORD=devpassword

# ── Django ───────────────────────────────────────────────────────
SECRET_KEY=7b950939c8adba550c6b94907a6ba65e2db226a729bf08d1c6b6bd11650050c5
DEBUG=False
ALLOWED_HOSTS=*

# ── SSO Keycloak ─────────────────────────────────────────────────
KEYCLOAK_CLIENT_ID=analyse-lora
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/ssolab
# Client public (SPA Angular) — Keycloak → Clients → analyse-lora → Access type : Public
# Valid redirect URIs : http://localhost:4204/*

# ── URLs (propagées automatiquement par reset_url.sh) ────────────
PORT_KEYCLOAK=8080
SERVER_URL_LAN=http://192.168.1.X
SERVER_URL_WAN=http://VOTRE_IP_WAN
KEYCLOAK_URL=http://192.168.1.X:8080
KEYCLOAK_PUBLIC_URL=http://VOTRE_IP_WAN:8080
